In [29]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index = range(1,51)
             )
scores_pd

    國文   英文   數學   地理   歷史
1   87   75   83   65   68
2   65   95   84   66   63
3   51   96   81   66   56
4   88   98   60   53   86
5   63   59   96   50   58
6   52  100   99   55   81
7   65   59   63   94   72
8   69   89   52   54  100
9   71   86   86   93   86
10  53   91   97   79   85
11  99   66   72   85   66
12  88   73   81   63   59
13  50   94   98   52   57
14  59   83   58   99   75
15  64   58   70   79   74
16  78   64   85   87  100
17  71   80   50  100   92
18  51   84   89   80   52
19  88   54   84   63   60
20  50   75   86   68   58
21  87   71   61   58   70
22  58   85  100  100   84
23  64   64   61   80   92
24  96   95   60   60   79
25  88   62   78   68   98
26  51   67   92   63   64
27  81   98   96   70   71
28  77   81   54   89   77
29  76   93   88   66   83
30  99   74   75   56   79
31  52   82   93   67   82
32  99   92   57   95   94
33  90   75   96   78   85
34  94   59   75   58   64
35  50   93   88   51   89
36  88   57   76   86   55
37  96   89   75   63   86
38  76   67   52   78   83
39  89   78   69   98   67
40  93   99   95   59   76
41  99   64   69   67   56
42  80   73   52  100   79
43  65   56   83   88  100
44  83   50   53   54   59
45  58   77   80   95   63
46  63   82   64   59   67
47  71   56   98   97   97
48  55   69   78   73   67
49  64   74   81   92   98
50  60   79   60   84   84

In [30]:
scores_pd['國文'][:10]
scores_pd['數學'][:10]

1     83
2     84
3     81
4     60
5     96
6     99
7     63
8     52
9     86
10    97
Name: 數學, dtype: int32

In [31]:
scores_pd['國文'][:10]+scores_pd['數學'][:10]+scores_pd['地理'][:10]

1     235
2     215
3     198
4     201
5     209
6     206
7     222
8     175
9     250
10    229
dtype: int32

In [32]:
scores_pd['國文'] + scores_pd['英文'] + scores_pd['地理'] + scores_pd['歷史'] + scores_pd['數學']

1     378
2     373
3     350
4     385
5     326
6     387
7     353
8     364
9     422
10    405
11    388
12    364
13    351
14    374
15    345
16    414
17    393
18    356
19    349
20    337
21    347
22    427
23    361
24    390
25    394
26    337
27    416
28    378
29    406
30    383
31    376
32    437
33    424
34    350
35    371
36    362
37    409
38    356
39    401
40    422
41    355
42    384
43    392
44    299
45    373
46    335
47    419
48    342
49    409
50    367
dtype: int32

In [33]:
#統計的實體方法,sum()
scores_pd['總分'] = scores_pd[['國文','英文','數學','地理','歷史']].sum(axis=1)
scores_pd
scores_pd['平均'] = scores_pd[['國文','英文','數學','地理','歷史']].mean(axis=1)
scores_pd

    國文   英文   數學   地理   歷史   總分    平均
1   87   75   83   65   68  378  75.6
2   65   95   84   66   63  373  74.6
3   51   96   81   66   56  350  70.0
4   88   98   60   53   86  385  77.0
5   63   59   96   50   58  326  65.2
6   52  100   99   55   81  387  77.4
7   65   59   63   94   72  353  70.6
8   69   89   52   54  100  364  72.8
9   71   86   86   93   86  422  84.4
10  53   91   97   79   85  405  81.0
11  99   66   72   85   66  388  77.6
12  88   73   81   63   59  364  72.8
13  50   94   98   52   57  351  70.2
14  59   83   58   99   75  374  74.8
15  64   58   70   79   74  345  69.0
16  78   64   85   87  100  414  82.8
17  71   80   50  100   92  393  78.6
18  51   84   89   80   52  356  71.2
19  88   54   84   63   60  349  69.8
20  50   75   86   68   58  337  67.4
21  87   71   61   58   70  347  69.4
22  58   85  100  100   84  427  85.4
23  64   64   61   80   92  361  72.2
24  96   95   60   60   79  390  78.0
25  88   62   78   68   98  394  78.8
26  51   67   92   63   64  337  67.4
27  81   98   96   70   71  416  83.2
28  77   81   54   89   77  378  75.6
29  76   93   88   66   83  406  81.2
30  99   74   75   56   79  383  76.6
31  52   82   93   67   82  376  75.2
32  99   92   57   95   94  437  87.4
33  90   75   96   78   85  424  84.8
34  94   59   75   58   64  350  70.0
35  50   93   88   51   89  371  74.2
36  88   57   76   86   55  362  72.4
37  96   89   75   63   86  409  81.8
38  76   67   52   78   83  356  71.2
39  89   78   69   98   67  401  80.2
40  93   99   95   59   76  422  84.4
41  99   64   69   67   56  355  71.0
42  80   73   52  100   79  384  76.8
43  65   56   83   88  100  392  78.4
44  83   50   53   54   59  299  59.8
45  58   77   80   95   63  373  74.6
46  63   82   64   59   67  335  67.0
47  71   56   98   97   97  419  83.8
48  55   69   78   73   67  342  68.4
49  64   74   81   92   98  409  81.8
50  60   79   60   84   84  367  73.4

In [34]:
scores_pd['排名'] = scores_pd['總分'].rank(method='min',ascending=False)
scores_pd

    國文   英文   數學   地理   歷史   總分    平均    排名
1   87   75   83   65   68  378  75.6  23.0
2   65   95   84   66   63  373  74.6  27.0
3   51   96   81   66   56  350  70.0  40.0
4   88   98   60   53   86  385  77.0  20.0
5   63   59   96   50   58  326  65.2  49.0
6   52  100   99   55   81  387  77.4  19.0
7   65   59   63   94   72  353  70.6  38.0
8   69   89   52   54  100  364  72.8  31.0
9   71   86   86   93   86  422  84.4   4.0
10  53   91   97   79   85  405  81.0  12.0
11  99   66   72   85   66  388  77.6  18.0
12  88   73   81   63   59  364  72.8  31.0
13  50   94   98   52   57  351  70.2  39.0
14  59   83   58   99   75  374  74.8  26.0
15  64   58   70   79   74  345  69.0  44.0
16  78   64   85   87  100  414  82.8   8.0
17  71   80   50  100   92  393  78.6  15.0
18  51   84   89   80   52  356  71.2  35.0
19  88   54   84   63   60  349  69.8  42.0
20  50   75   86   68   58  337  67.4  46.0
21  87   71   61   58   70  347  69.4  43.0
22  58   85  100  100   84  427  85.4   2.0
23  64   64   61   80   92  361  72.2  34.0
24  96   95   60   60   79  390  78.0  17.0
25  88   62   78   68   98  394  78.8  14.0
26  51   67   92   63   64  337  67.4  46.0
27  81   98   96   70   71  416  83.2   7.0
28  77   81   54   89   77  378  75.6  23.0
29  76   93   88   66   83  406  81.2  11.0
30  99   74   75   56   79  383  76.6  22.0
31  52   82   93   67   82  376  75.2  25.0
32  99   92   57   95   94  437  87.4   1.0
33  90   75   96   78   85  424  84.8   3.0
34  94   59   75   58   64  350  70.0  40.0
35  50   93   88   51   89  371  74.2  29.0
36  88   57   76   86   55  362  72.4  33.0
37  96   89   75   63   86  409  81.8   9.0
38  76   67   52   78   83  356  71.2  35.0
39  89   78   69   98   67  401  80.2  13.0
40  93   99   95   59   76  422  84.4   4.0
41  99   64   69   67   56  355  71.0  37.0
42  80   73   52  100   79  384  76.8  21.0
43  65   56   83   88  100  392  78.4  16.0
44  83   50   53   54   59  299  59.8  50.0
45  58   77   80   95   63  373  74.6  27.0
46  63   82   64   59   67  335  67.0  48.0
47  71   56   98   97   97  419  83.8   6.0
48  55   69   78   73   67  342  68.4  45.0
49  64   74   81   92   98  409  81.8   9.0
50  60   79   60   84   84  367  73.4  30.0

In [35]:
scores_pd.sort_values(by='排名')

    國文   英文   數學   地理   歷史   總分    平均    排名
32  99   92   57   95   94  437  87.4   1.0
22  58   85  100  100   84  427  85.4   2.0
33  90   75   96   78   85  424  84.8   3.0
40  93   99   95   59   76  422  84.4   4.0
9   71   86   86   93   86  422  84.4   4.0
47  71   56   98   97   97  419  83.8   6.0
27  81   98   96   70   71  416  83.2   7.0
16  78   64   85   87  100  414  82.8   8.0
37  96   89   75   63   86  409  81.8   9.0
49  64   74   81   92   98  409  81.8   9.0
29  76   93   88   66   83  406  81.2  11.0
10  53   91   97   79   85  405  81.0  12.0
39  89   78   69   98   67  401  80.2  13.0
25  88   62   78   68   98  394  78.8  14.0
17  71   80   50  100   92  393  78.6  15.0
43  65   56   83   88  100  392  78.4  16.0
24  96   95   60   60   79  390  78.0  17.0
11  99   66   72   85   66  388  77.6  18.0
6   52  100   99   55   81  387  77.4  19.0
4   88   98   60   53   86  385  77.0  20.0
42  80   73   52  100   79  384  76.8  21.0
30  99   74   75   56   79  383  76.6  22.0
28  77   81   54   89   77  378  75.6  23.0
1   87   75   83   65   68  378  75.6  23.0
31  52   82   93   67   82  376  75.2  25.0
14  59   83   58   99   75  374  74.8  26.0
2   65   95   84   66   63  373  74.6  27.0
45  58   77   80   95   63  373  74.6  27.0
35  50   93   88   51   89  371  74.2  29.0
50  60   79   60   84   84  367  73.4  30.0
8   69   89   52   54  100  364  72.8  31.0
12  88   73   81   63   59  364  72.8  31.0
36  88   57   76   86   55  362  72.4  33.0
23  64   64   61   80   92  361  72.2  34.0
18  51   84   89   80   52  356  71.2  35.0
38  76   67   52   78   83  356  71.2  35.0
41  99   64   69   67   56  355  71.0  37.0
7   65   59   63   94   72  353  70.6  38.0
13  50   94   98   52   57  351  70.2  39.0
34  94   59   75   58   64  350  70.0  40.0
3   51   96   81   66   56  350  70.0  40.0
19  88   54   84   63   60  349  69.8  42.0
21  87   71   61   58   70  347  69.4  43.0
15  64   58   70   79   74  345  69.0  44.0
48  55   69   78   73   67  342  68.4  45.0
20  50   75   86   68   58  337  67.4  46.0
26  51   67   92   63   64  337  67.4  46.0
46  63   82   64   59   67  335  67.0  48.0
5   63   59   96   50   58  326  65.2  49.0
44  83   50   53   54   59  299  59.8  50.0

In [36]:
def format60(v:int):
    if v >= 60:
        return '及格'
    else:
        return '不及格'

scores_pd[['國文','英文','數學','地理','歷史']].style.format(format60)

In [37]:
scores_pd.style.highlight_between(left=0,
                                  right=59,
                                  color='red',
                                  subset=['國文','英文','數學','地理','歷史'])

In [38]:
scores_pd.style\
.highlight_between(left=0,
                   right=59,
                   color='red',
                   subset=['國文','英文','數學','地理','歷史'],
                   props='color:white;background-color:red')\
.format(precision=0,subset=['平均','排名'])

In [ ]:
scores_pd.style\
.highlight_between(left=0,
                   right=59,
                   color='red',
                   subset=['國文','英文','數學','地理','歷史'],
                   props='color:white;background-color:red')\
.format(precision=0,subset=['平均','排名']).to_excel('scores.xlsx')