In [3]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.726292
   2   -1.059931
   3   -0.237417
b  1   -0.810774
   2    0.308525
c  3    1.138404
   1   -1.249268
d  2    0.207767
   3    2.360283
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
data['a']

1   -0.726292
2   -1.059931
3   -0.237417
dtype: float64

In [8]:
#2維堆疊資料
data

a  1   -0.726292
   2   -1.059931
   3   -0.237417
b  1   -0.810774
   2    0.308525
c  3    1.138404
   1   -1.249268
d  2    0.207767
   3    2.360283
dtype: float64

In [9]:
#2維,表格資料
data.unstack()

          1         2         3
a -0.726292 -1.059931 -0.237417
b -0.810774  0.308525       NaN
c -1.249268       NaN  1.138404
d       NaN  0.207767  2.360283

In [10]:
data.index.names = ['分類','數值']
data

分類  數值
a   1    -0.726292
    2    -1.059931
    3    -0.237417
b   1    -0.810774
    2     0.308525
c   3     1.138404
    1    -1.249268
d   2     0.207767
    3     2.360283
dtype: float64

In [11]:
data.index.names = ['分類','數值']
data

分類  數值
a   1    -0.726292
    2    -1.059931
    3    -0.237417
b   1    -0.810774
    2     0.308525
c   3     1.138404
    1    -1.249268
d   2     0.207767
    3     2.360283
dtype: float64

In [12]:
data.unstack(level='數值')

數值         1         2         3
分類
a  -0.726292 -1.059931 -0.237417
b  -0.810774  0.308525       NaN
c  -1.249268       NaN  1.138404
d        NaN  0.207767  2.360283